#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navbar__left > p {
  font-size: 1rem;
  font-weight: 700;
}

.navbar__left > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__left > div > a {
  text-decoration: none;
  color: #242424;
}

/* NAVBAR RIGHT */

.navbar__right {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.navbar__right > button {
  color: #242424;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 30px;
}

.navbar__right > .register {
  font-size: 1rem;
}

/* NAVBAR MEDIA QUERY */
@media screen and (max-width: 786px) {
  .navbar__left > div {
    display: none;
  }
}

/* HERO SECTION */
.hero {
  height: 85vh;
  margin-top: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas:
    "first first first"
    "second third fourth";
}

.hero__first {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  grid-area: first;
}

.hero__first > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__first__left {
  color: #f5f5f5;
}

.hero__first__left > h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 1rem;
}

.start__program {
  color: #242424;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 30px;
}

.start__program > svg {
  margin-left: 0.3rem;
}

.hero__top__right__card {
  display: flex;
  align-items: baseline;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 2rem;
  gap: 6.5rem;
  margin-bottom: 2rem;
}

.hero__top__right__card__left > h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.hero__top__right__card__left > p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  opacity: 0.7;
}

.hero__top__right__card__left__images {
  display: flex;
  align-items: center;
}
.hero__top__right__card__left__images > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: -1rem;
  object-fit: cover;
  border: 5px solid #fff;
}

.hero__top__right__card__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}

.hero__top__right__card__right > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  border-radius: 100%;
  background-color: #f5f5f5;
}

.hero__top__right__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero__top__right__button {
  color: #fff;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
}

.hero__top__right__button > svg {
  margin-left: 0.3rem;
}

/* HERO SECOND */
.hero__second {
  grid-area: second;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.hero__second > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__second > p {
  color: #f5f5f5;
  font-size: 2.5rem;
  margin: 0.5rem 0;
  line-height: 130%;
}

.hero__second__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__second__top > button {
  color: #242424;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  border-radius: 30px;
}

.hero__second__top > div {
  background-color: #fff;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__third {
  grid-area: third;
  border-radius: 30px;
  background-color: bisque;
}

.hero__fourth {
  grid-area: fourth;
  border-radius: 30px;
  background-color: coral;
}
